RewriteEngine On
RewriteBase /

# OUCS homepage → IT Services homepage
RewriteRule ^(index\.xml)?$ http://www.it.ox.ac.uk/ [R=302,L]

# Some URL normalization (remove page fragments; strip /index.xml)
RewriteRule ^(.+)\.xml.ID=.*$ $1.xml
RewriteRule ^(.+)/index\.xml$ $1/

RewriteRule ^about/$ http://www.it.ox.ac.uk/about [R=302,L]
RewriteRule ^about/travel\.xml$ http://www.it.ox.ac.uk/about/offices [R=302,L]
RewriteRule ^jobs/$ http://www.it.ox.ac.uk/about/jobs [R=302,L]

# These are in order of popularity (by non-bot hits)
RewriteRule ^nexus/email/$ http://www.it.ox.ac.uk/want/getstarted/email [R=302,L]
RewriteRule ^webauth/oxfordusername$ http://www.it.ox.ac.uk/want/getstarted/account [R=302,L]
RewriteRule ^help/$ http://www.it.ox.ac.uk/want/help [R=302,L]
RewriteRule ^welcometoit/$ http://www.it.ox.ac.uk/want/getstarted [R=302,L]
RewriteRule ^its3/$ http://www.it.ox.ac.uk/its3 [R=302,L]
RewriteRule ^shop/$ http://www.it.ox.ac.uk/want/shop [R=302,L]
# /itlp ?
RewriteRule ^cgi-bin/feedback.pl$ http://www.it.ox.ac.uk/about/contact [R=302,L]
RewriteRule ^about/contact.xml$ http://www.it.ox.ac.uk/about/contact [R=302,L]
RewriteRule ^help/request.xml$ http://www.it.ox.ac.uk/about/contact [R=302,L]
RewriteRule ^itlp/courses/$ http://www.it.ox.ac.uk/do/trainingandfacilities/itlpcourses [R=302,L]
RewriteRule ^publicity/$ http://www.it.ox.ac.uk/news-events [R=302,L]

# NSMS
RewriteRule ^nsms/$ http://www.it.ox.ac.uk/nsms [R=302,L]
RewriteRule ^nsms/charges/costs.xml$ http://www.it.ox.ac.uk/nsms/charges [R=302,L]
RewriteRule ^nsms/services/$ http://www.it.ox.ac.uk/nsms [R=302,L]
RewriteRule ^nsms/services/webhosting.xml$ http://www.it.ox.ac.uk/nsms/webhosting [R=302,L]
RewriteRule ^nsms/services/vm.xml$ http://www.it.ox.ac.uk/nsms/privatecloud [R=302,L]
RewriteRule ^nsms/services/virtserv.xml$ http://www.it.ox.ac.uk/nsms/privatecloud [R=302,L]
RewriteRule ^nsms/services/server.xml$ http://www.it.ox.ac.uk/nsms/servermanagement [R=302,L]
RewriteRule ^nsms/services/firewall.xml$ http://www.it.ox.ac.uk/nsms/firewall [R=302,L]
RewriteRule ^nsms/services/workstation.xml$ http://www.it.ox.ac.uk/nsms/workstationmanagement [R=302,L]
RewriteRule ^nsms/services/vm4rentform.xml$ http://www.it.ox.ac.uk/nsms/privatecloud [R=302,L]
RewriteRule ^nsms/services/mmp/$ http://www.it.ox.ac.uk/nsms/orchard [R=302,L]
RewriteRule ^nsms/services/mmp.xml$ http://www.it.ox.ac.uk/nsms/orchard [R=302,L]
RewriteRule ^nsms/services/osx.xml$ http://www.it.ox.ac.uk/nsms/orchard [R=302,L]
RewriteRule ^nsms/services/rt.xml$ http://www.it.ox.ac.uk/nsms/requesttracker [R=302,L]
RewriteRule ^nsms/services/auditing.xml$ http://www.it.ox.ac.uk/nsms/consultancy [R=302,L]
RewriteRule ^nsms/contact/(index|contact).(xml|xsp)$ http://www.it.ox.ac.uk/nsms [R=302,L]
# nsms/services/purchasing.xml
RewriteRule ^nsms/customers/$ http://www.it.ox.ac.uk/nsms/customers [R=302,L]
# NSMS, gone
RewriteRule ^nsms/no-perms.xml$ - [G]
RewriteRule ^nsms/services/.*-old.xml$ - [G]
RewriteRule ^nsms/services/.*thanks.xml$ - [G]


# World War I Literature site (handle mistypings of one and el)
RewriteRule ^ww[1l][1l]it(.*)$ http://ww1lit.nsms.ox.ac.uk/ww1lit$1 [R=302,L]

# Courses (copied from previous www.oucs .htaccess, but tweaked to remove /cgi-bin/ where possible)
RewriteRule ^itlp/courses/oup/catalogue$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=catalogue&oup=1 [R=302,L]
RewriteRule ^itlp/courses/oup/atoz$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=atoz&oup=1 [R=302,L]
RewriteRule ^itlp/courses/oup/summary$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=summary&oup=1 [R=302,L]
RewriteRule ^itlp/courses/oup/detail/([A-Z0-9]+)$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?code=$1&oup=1 [R=302,L]
RewriteRule ^itlp/courses/catalogue$ http://courses.it.ox.ac.uk/catalogue [R=302,L]
RewriteRule ^itlp/courses/atoz$ http://courses.it.ox.ac.uk/atoz [R=302,L]
RewriteRule ^itlp/courses/summary$ http://courses.it.ox.ac.uk/summary [R=302,L]
RewriteRule ^itlp/courses/future$ http://courses.it.ox.ac.uk/future [R=302,L]
RewriteRule ^itlp/courses/detail/([A-Z0-9]+)$ http://courses.it.ox.ac.uk/detail/$1 [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^itlp/courses/showcart.pl$ http://courses.it.ox.ac.uk/showcart?%1 [R=302,L,NE,QSA]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^itlp/courses/mybook.pl$ http://courses.it.ox.ac.uk/mybook?%1 [R=302,L,NE,QSA]
RewriteRule ^itlp/courses/myaccount$ http://courses.it.ox.ac.uk/mycourses?%1 [R=302,L]
# all the ITLP rewrites - pages
RewriteRule ^itlp/courses/oup/howtobook.xml(.*)$ http://courses.it.ox.ac.uk/itlp/oup/howtobook.xml%1 [R=302,L]



# TODO: thamessuite down


# Catch-alls for the help site
RewriteRule ^(.+)\.xml(.ID=.*)?$ http://help.it.ox.ac.uk/$1 [R=307]
RewriteRule ^(.+)/$ http://help.it.ox.ac.uk/$1/index [R=307]

