RewriteEngine On
RewriteBase /

# OUCS homepage → IT Services homepage
RewriteRule ^(index\.xml)?$ http://www.it.ox.ac.uk/ [R=302,L]

# Existing redirects people still rely on
RewriteRule ^help/unhappy.xsp$ help/request.xml
RewriteRule ^email/mobiles/(.*) nexus/mobile/index.xml
RewriteRule ^email/config/(.*) nexus/email/clients.xml
RewriteRule ^troubles(.*) helpcentre/troubleshooting$1
RewriteRule ^learning/selfpaced-training.xml itlp/ecdl_basic.xml
RewriteRule ^learning/(.*) itlp/
RewriteRule ^courses/$ itlp/
RewriteRule ^courses$ itlp/
RewriteRule ^courses/(.*) itlp/courses/$1
RewriteRule ^ecdl(.*) itlp/ecdl_gen.xml
RewriteRule ^network/ip.xml network/addresses/

# ITLP Course redirects. These go before the normalization so that they don't get trailing slashes appended
RewriteRule ^oup/detail/([A-Z0-9]+)$ http://courses.it.ox.ac.uk/detail/$1 [R=302,L]
RewriteRule ^itlp/courses/oup/detail/([A-Z0-9]+)$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?code=$1&oup=1 [R=302,L]
RewriteRule ^itlp/courses/detail/([A-Z0-9]+)$ http://courses.it.ox.ac.uk/detail/$1 [R=302,L]

# The OUCS shared stuff is available on active
RewriteRule ^shared/(.*)$ http://active.oucs.ox.ac.uk/shared/$1 [R=302,L]
RewriteRule ^teip4/(.*)$ http://active.oucs.ox.ac.uk/shared/teip4/$1 [R=302,L]

# Some URL normalization (remove page fragments; strip /index.xml)
RewriteRule ^(.+)\.xml.ID=.*$ $1.xml
RewriteRule ^(.*/)?([^./]+)$ $1$2/ [R=302,L]
RewriteRule ^(.+)/index\.xml$ $1/
RewriteRule ^(.+)//(.*) $1/$2

RewriteRule ^about/$ http://www.it.ox.ac.uk/about [R=302,L]
RewriteRule ^about/mission.xml$ http://www.it.ox.ac.uk/about [R=302,L]
RewriteRule ^about/travel\.xml$ http://www.it.ox.ac.uk/about/offices [R=302,L]
RewriteRule ^jobs/$ http://www.it.ox.ac.uk/about/jobs [R=302,L]

RewriteRule ^rss/vacancies.rss$ https://data.ox.ac.uk/feeds/all-vacancies/31337175.rss [R=302,L]
RewriteRule ^rss/allnews.rss$ http://www.it.ox.ac.uk/news/rss.xml [R=302,L]

# These are in order of popularity (by non-bot hits)
RewriteRule ^nexus/email/$ http://www.it.ox.ac.uk/want/get-started/email [R=302,L]
RewriteRule ^oxford/username$ http://www.it.ox.ac.uk/want/get-started/account [R=302,L]
RewriteRule ^webauth/oxfordusername$ http://www.it.ox.ac.uk/want/get-started/account [R=302,L]
RewriteRule ^help/$ http://www.it.ox.ac.uk/want/help [R=302,L]
RewriteRule ^welcometoit/.*$ http://www.it.ox.ac.uk/want/get-started [R=302,L]
RewriteRule ^its3/$ http://www.it.ox.ac.uk/its3 [R=302,L]
RewriteRule ^shop/$ http://www.it.ox.ac.uk/want/shop [R=302,L]
# /itlp ?
RewriteRule ^cgi-bin/feedback.pl$ http://www.it.ox.ac.uk/about/contact [R=302,L]
RewriteRule ^about/contact.xml$ http://www.it.ox.ac.uk/about/contact [R=302,L]
RewriteRule ^help/request.xml$ http://help.it.ox.ac.uk/help/request [R=302,L]
RewriteRule ^itlp/courses.xml$ http://www.it.ox.ac.uk/do/training-and-facilities/itlp-courses [R=302,L]
RewriteRule ^itlp/courses/$ http://www.it.ox.ac.uk/do/training-and-facilities/itlp-courses [R=302,L]
RewriteRule ^itlp/closedcourses/$ http://www.it.ox.ac.uk/do/training-and-facilities/itlp-closed-courses [R=302,L]
RewriteRule ^itlp/closedcourses/enquiry.xml$ http://www.it.ox.ac.uk/closed-courses-enquiry-form [R=302,L]
RewriteRule ^publicity/$ http://www.it.ox.ac.uk/news-events [R=302,L]

# NSMS
RewriteRule ^nsms/charges/costs.xml$ http://www.it.ox.ac.uk/nsms/charges [R=302,L]
RewriteRule ^nsms/services/$ http://www.it.ox.ac.uk/nsms [R=302,L]
RewriteRule ^nsms/services/webhosting.xml$ http://www.it.ox.ac.uk/nsms/webhosting [R=302,L]
RewriteRule ^nsms/services/vm.xml$ http://www.it.ox.ac.uk/nsms/privatecloud [R=302,L]
RewriteRule ^nsms/services/virtserv.xml$ http://www.it.ox.ac.uk/nsms/privatecloud [R=302,L]
RewriteRule ^nsms/services/server.xml$ http://www.it.ox.ac.uk/nsms/server-management [R=302,L]
RewriteRule ^nsms/services/firewall.xml$ http://www.it.ox.ac.uk/nsms/firewall [R=302,L]
RewriteRule ^nsms/services/workstation.xml$ http://www.it.ox.ac.uk/nsms/workstation-management [R=302,L]
RewriteRule ^nsms/services/vm4rentform.xml$ http://www.it.ox.ac.uk/nsms/private-cloud [R=302,L]
RewriteRule ^nsms/services/mmp/ http://www.it.ox.ac.uk/nsms/orchard [R=302,L]
RewriteRule ^nsms/services/mmp.xml$ http://www.it.ox.ac.uk/nsms/orchard [R=302,L]
RewriteRule ^nsms/services/osx.xml$ http://www.it.ox.ac.uk/nsms/orchard [R=302,L]
RewriteRule ^nsms/services/rt.xml$ http://www.it.ox.ac.uk/nsms/request-tracker [R=302,L]
RewriteRule ^nsms/services/auditing.xml$ http://www.it.ox.ac.uk/nsms/consultancy [R=302,L]
RewriteRule ^nsms/contact/(index|contact).(xml|xsp)$ http://www.it.ox.ac.uk/nsms [R=302,L]
# nsms/services/purchasing.xml
RewriteRule ^nsms/customers/$ http://www.it.ox.ac.uk/nsms/customers [R=302,L]
# NSMS, gone
RewriteRule ^nsms/no-perms.xml$ - [G]
RewriteRule ^nsms/services/.*-old.xml$ - [G]
RewriteRule ^nsms/services/.*thanks.xml$ - [G]
RewriteRule ^nsms/ http://www.it.ox.ac.uk/nsms [R=302,L]

# Teams that are no longer going to be with us.
RewriteRule ^infodev/$ http://www.it.ox.ac.uk/about/structure/old-teams#infodev [R=302,L]
RewriteRule ^wdc/$ http://www.it.ox.ac.uk/about/structure/old-teams#wdc [R=302,L]

# World War I Literature site (handle mistypings of one and el)
RewriteRule ^ww[1l][1l]it(.*)$ http://ww1lit.nsms.ox.ac.uk/ww1lit$1 [R=302,L]

# Courses (copied from previous www.oucs .htaccess, but tweaked to remove /cgi-bin/ where possible)
RewriteRule ^courses/(.*)$ itlp/$1
RewriteRule ^oup http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=summary&oup=1 [R=302,L]
RewriteRule ^itlp/$ http://www.it.ox.ac.uk/do/training-and-facilities [R=302,L]
RewriteRule ^itlp/courses/oup/$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=summary&oup=1 [R=302,L]
RewriteRule ^itlp/courses/oup/catalogue$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=catalogue&oup=1 [R=302,L]
RewriteRule ^itlp/courses/oup/atoz$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=atoz&oup=1 [R=302,L]
RewriteRule ^itlp/courses/oup/summary$ http://courses.it.ox.ac.uk/cgi-bin/public/courses.pl?mode=summary&oup=1 [R=302,L]
RewriteRule ^itlp/courses/catalogue$ http://courses.it.ox.ac.uk/catalogue [R=302,L]
RewriteRule ^itlp/courses/atoz$ http://courses.it.ox.ac.uk/atoz [R=302,L]
RewriteRule ^itlp/courses/summary$ http://courses.it.ox.ac.uk/summary [R=302,L]
RewriteRule ^itlp/courses/future$ http://courses.it.ox.ac.uk/future [R=302,L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^itlp/courses/showcart.pl$ http://courses.it.ox.ac.uk/showcart?%1 [R=302,L,NE,QSA]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^itlp/courses/mybook.pl$ http://courses.it.ox.ac.uk/mybook?%1 [R=302,L,NE,QSA]
RewriteRule ^itlp/courses/myaccount$ http://courses.it.ox.ac.uk/mycourses?%1 [R=302,L]
# all the ITLP rewrites - pages
RewriteRule ^itlp/courses/oup/howtobook.xml(.*)$ http://courses.it.ox.ac.uk/itlp/oup/howtobook.xml [R=302,L]
RewriteRule ^itlp/courses/oup/howtocancel.xml(.*)$ http://courses.it.ox.ac.uk/itlp/oup/howtocancel.xml [R=302,L]
RewriteRule ^itlp/about-us.xml$ http://www.it.ox.ac.uk/do/training-and-facilities/contact [R=302,L]

# today's courses
RewriteRule ^rss/courses/today.rss$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?range=today [R=302,L,QSA]
RewriteRule ^rss/courses/today.ics$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=ics&range=today [R=302,L,QSA]
RewriteRule ^rss/courses/today.xml$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=rss2&range=today [R=302,L,QSA]

# by presentation
RewriteRule ^rss/courses/presentation/([0-9]+).rss$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?pid=$1 [R=302,L,QSA]
RewriteRule ^rss/courses/presentation/([0-9]+).ics$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=ics&pid=$1 [R=302,L,QSA]
RewriteRule ^rss/courses/presentation/([0-9]+).xml$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=rss2&pid=$1 [R=302,L,QSA]

# by code(s)
RewriteRule ^rss/courses/code/([A-Z0-9\|]+).rss$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?code=$1 [R=302,L,QSA]
RewriteRule ^rss/courses/code/([A-Z0-9\|]+).ics$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=ics&code=$1 [R=302,L,QSA]
RewriteRule ^rss/courses/code/([A-Z0-9\|]+).xml$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=rss2&code=$1 [R=302,L,QSA]

# all courses
RewriteRule ^rss/courses(-atom)?.(rss|ics|xml)$ http://courses.it.ox.ac.uk/courses.$2 [R=302,L,QSA]

# by presentation, for backward compatibility
RewriteRule ^rss/courses/([0-9]+).rss http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?pid=$1 [R=302,L]
RewriteRule ^rss/courses/([0-9]+).ics http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=ics&pid=$1 [R=302,L]
RewriteRule ^rss/courses/([0-9]+).xml http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=rss2&pid=$1 [R=302,L]

# ics by presentation, for backward compatibility
RewriteRule ^rss/([^\.]+).ics$ http://courses.it.ox.ac.uk/cgi-bin/public/courses-atom.cgi?style=ics&pid=$1 [R=302,L]

RewriteRule ^rss/its3.rss$ http://rss.oucs.ox.ac.uk/oucs/its3-news/rss10.xml [L,R]
RewriteRule ^rss/ict-news.rss$ http://rss.oucs.ox.ac.uk/ict/ict-news/rss10.xml [L,R]
RewriteRule ^rss/itservnews.rss$ "http://rss.oucs.ox.ac.uk/itserv/news/rss20.xml?all_string=all" [L,R]
RewriteRule ^rss/news.rss$ http://rss.oucs.ox.ac.uk/oucs/news/rss10.xml [L,R]
RewriteRule ^rss/helpcentre.rss$ http://rss.oucs.ox.ac.uk/oucs/helpcentre/rss10.xml [L,R]
RewriteRule ^rss/webmail-normal.rss$ http://rss.oucs.ox.ac.uk/oucs/webmail-normal/rss10.xml [L,R]
RewriteRule ^rss/webmail-news.rss$ http://rss.oucs.ox.ac.uk/oucs/webmail-news/rss10.xml [L,R]
RewriteRule ^rss/webmail-urgent.rss$ http://rss.oucs.ox.ac.uk/oucs/webmail-news-urgent/rss10.xml [L,R]
RewriteRule ^rss/services.rss$ http://rss.oucs.ox.ac.uk/oucs/services/rss10.xml [L,R]


# OxPoints, starting with stuff we know we've gotten rid of
RewriteRule ^oxpoints/(oxpoints|oxworld).xml$ - [G]
RewriteRule ^oxpoints/javascript.xml$ - [G]
RewriteRule ^oxpoints/olismapall.user.js$ - [G]
RewriteRule ^oxpoints/maps_api_v[23].html$ - [G]
RewriteRule ^oxpoints/autosuggest-example.html$ - [G]
RewriteRule ^oxpoints/demo/.*$ - [G]
RewriteRule ^oxpoints/(balliol|colleges|libraries)-demo.html$ - [G]
RewriteRule ^oxpoints/images/(offices|counsel|collegepictures|appsoc|bwcrests)/(.*)$ - [G]
# And these things have been moved to active.oucs
RewriteRule ^oxpoints/(autoSuggest.css|jquery.autoSuggest.js)$ http://active.oucs.ox.ac.uk/oxpoints/$1 [R=302,L]
RewriteRule ^oxpoints/(oxpointsMap(_v3)?.js)$ http://active.oucs.ox.ac.uk/oxpoints/$1 [R=302,L]
RewriteRule ^oxpoints/images/(icons|typeicons|typeicons2)/(.*)$ http://active.oucs.ox.ac.uk/oxpoints/images/$1/$2 [R=302,L]



# TODO: thamessuite down
RewriteRule ^thamessuite/.*$ http://www.it.ox.ac.uk/thames-suite [R=302,L]

RewriteRule ^ltg/projects/clic/(.*)$ http://projects.oucs.ox.ac.uk/clic/$1 [R=302,L]
RewriteRule ^ltg/ http://www.it.ox.ac.uk/do/teaching-and-learning [R=302,L]
RewriteRule ^datacentres/ http://www.it.ox.ac.uk/data-centres [R=302,L]
RewriteRule ^internal/annrep/ http://www.it.ox.ac.uk/about/reports [R=302,L]

RewriteRule ^favicon.ico$ http://www.it.ox.ac.uk/sites/dandy/themes/dandy/favicon.ico [R=302,L]

# Stuff that's gone
RewriteRule ^ebook/ - [G]
RewriteRule ^oxcri/ - [G]
RewriteRule ^logo/ - [G]
RewriteRule ^about/points.xml$ - [G]
RewriteRule ^(cdwriting|portal|cdcopying|cms|athens)/ - [G]
RewriteRule ^dead.xml$ - [G]

# Catch-alls for the help site
RewriteRule ^(.+)\.xml(.ID=.*)?$ http://help.it.ox.ac.uk/$1 [R=307,L]
RewriteRule ^(.+)/$ http://help.it.ox.ac.uk/$1/index [R=307,L]

# "images/" has been removed from names of files
RewriteRule (^|.*/)images/(.*)$ $1$2

# Resources moved to the help site
RewriteRule ^([^/]+).(pdf|doc|docx)$ http://help.it.ox.ac.uk/sites/ithelp/files/resources/$1.$2 [R=302,L]
RewriteRule ^([^/]+)/([^/]+).(pdf|doc|docx)$ http://help.it.ox.ac.uk/sites/ithelp/files/resources/$1_$2.$3 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+).(pdf|doc|docx)$ http://help.it.ox.ac.uk/sites/ithelp/files/resources/$1_$2_$3.$4 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+).(pdf|doc|docx)$ http://help.it.ox.ac.uk/sites/ithelp/files/resources/$1_$2_$3_$4.$5 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+).(pdf|doc|docx)$ http://help.it.ox.ac.uk/sites/ithelp/files/resources/$1_$2_$3_$4_$5.$6 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+).(pdf|doc|docx)$ http://help.it.ox.ac.uk/sites/ithelp/files/resources/$1_$2_$3_$4_$5_$6.$7 [R=302,L]

# Images moved to the help site
RewriteRule ^([^/]+).(jpg|png|gif)$ http://help.it.ox.ac.uk/sites/ithelp/files/images/$1.$2 [R=302,L]
RewriteRule ^([^/]+)/([^/]+).(jpg|png|gif)$ http://help.it.ox.ac.uk/sites/ithelp/files/images/$1_$2.$3 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+).(jpg|png|gif)$ http://help.it.ox.ac.uk/sites/ithelp/files/images/$1_$2_$3.$4 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+).(jpg|png|gif)$ http://help.it.ox.ac.uk/sites/ithelp/files/images/$1_$2_$3_$4.$5 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+).(jpg|png|gif)$ http://help.it.ox.ac.uk/sites/ithelp/files/images/$1_$2_$3_$4_$5.$6 [R=302,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+).(jpg|png|gif)$ http://help.it.ox.ac.uk/sites/ithelp/files/images/$1_$2_$3_$4_$5_$6.$7 [R=302,L]

ErrorDocument 410 410.html
