RewriteEngine on

RewriteRule ^index.html$ "" [R=302,L]
RewriteRule ^publicity/?$ news-events [R=302,L]
RewriteRule ^publicity/webauth/?$ - [G]
RewriteRule ^about/contactus/?$ about [R=302,L]
RewriteRule ^about/feedback/?$ contact-form [R=302,L]
RewriteRule ^about/history/?$ - [G]
RewriteRule ^courses/?$ do/training-and-facilities [R=302,L]
RewriteRule ^about/capitalplan/?$ policies-and-guidelines/it-capital-plan-governance [R=302,L]
RewriteRule ^about/reports/itstrategy/?$ policies-and-guidelines/it-strategic-plan-2013-2018 [R=302,L]
RewriteRule ^about/reports/itstrategy/itstrategicplan/?$ policies-and-guidelines/it-strategic-plan-2013-2018 [R=302,L]
RewriteRule ^about/reports/itstrategy/itstrategyreport/?$ policies-and-guidelines/it-strategic-plan-2013-2018 [R=302,L]
RewriteRule ^about/newsletter/?$ newsletters [R=302,L]
RewriteRule ^about/newsletter/(.*)[^/]/?$ newsletters/$1 [R=302,L]
RewriteRule ^about/org_structure/?$ about/structure [R=302,L]
RewriteRule ^about/travel/?$ about/offices [R=302,L]

RewriteRule ^media/?$ http://help.it.ox.ac.uk/media/index [R=302,L]
RewriteRule ^shop/?$ http://help.it.ox.ac.uk/shop/index [R=302,L]
RewriteRule ^nexus/?$ http://help.it.ox.ac.uk/nexus/index [R=302,L]
RewriteRule ^hfs/?$ http://help.it.ox.ac.uk/hfs/index [R=302,L]
RewriteRule ^sls/?$ http://help.it.ox.ac.uk/sls/index [R=302,L]
RewriteRule ^network/?$ http://help.it.ox.ac.uk/network/index [R=302,L]
RewriteRule ^infodev/?$ - [G]
RewriteRule ^podcasts/?$ http://help.it.ox.ac.uk/podcasts/index [R=302,L]
RewriteRule ^turnitin/?$ http://help.it.ox.ac.uk/turnitin/index [R=302,L]
RewriteRule ^thamessuite/?$ thames-suite [R=302,L]
RewriteRule ^strategy/?$ policies-and-guidelines/it-strategic-plan-2013-2018 [R=302,L]
RewriteRule ^itlp/?$ http://courses.it.ox.ac.uk/ [R=302,L]
RewriteRule ^engage/?$ http://blogs.it.ox.ac.uk/engage/ [R=302,L]
RewriteRule ^weblearn/?$ http://help.it.ox.ac.uk/weblearn/index [R=302,L]
RewriteRule ^helpcentre/?$ want/help [R=302,L]
RewriteRule ^printing/?$ http://help.it.ox.ac.uk/printing/index [R=302,L]
RewriteRule ^registration/?$ http://help.it.ox.ac.uk/registration/index [R=302,L]
RewriteRule ^breakdown/?$ http://help.it.ox.ac.uk/breakdown/index [R=302,L]
RewriteRule ^viruses/?$ want/get-started/security/antivirus [R=302,L]
RewriteRule ^email/?$ http://help.it.ox.ac.uk/email/index [R=302,L]
RewriteRule ^telecom/?$ http://help.it.ox.ac.uk/telecom/index [R=302,L]
RewriteRule ^welcometoit/?$ want/get-started [R=302,L]
RewriteRule ^ww1lit/?$ http://ww1lit.nsms.ox.ac.uk/ [R=302,L]

