# These will need to be added to the existing .htaccess, and the pages removed.
RewriteRule ^oxford/rules/soaguidelines.xml$ http://www.it.ox.ac.uk/policies-and-guidelines/handling-illegal-material [R=302,L]
RewriteRule ^oxford/rules/ads.xml$ http://www.it.ox.ac.uk/policies-and-guidelines/advertising-material-university-webpages [R=302,L]
RewriteRule ^oxford/rules/massmailing.xml$ http://www.it.ox.ac.uk/policies-and-guidelines/rules-mass-mailing [R=302,L]
RewriteRule ^oxford/rules/proxy.xml$ http://www.it.ox.ac.uk/policies-and-guidelines/access-janet-nonmembers [R=302,L]
RewriteRule ^oxford/rules/p2p.xml$ http://www.it.ox.ac.uk/policies-and-guidelines/peer-to-peer-resource-sharing [R=302,L]
RewriteRule ^oxford/disposal/(index.xml)?$ http://www.it.ox.ac.uk/policies-and-guidelines/computer-disposal [R=302,L]

RewriteRule ^team/services/software/oxfordinstaller.xml	http://help.it.ox.ac.uk/connect/apps-installer
RewriteRule ^team/services/software/applicationslist-win7.xml http://help.it.ox.ac.uk/connect/apps-win-7

